@page "/rilevamenti"

<h2>Rilevamenti</h2>
<p>In questa pagina troverai i rilevamenti effettuati dalle nostre stazioni meteo.</p>

<div>
    <h1>@p</h1>
    <div class="ricerca">
        <input type="text" />
        <button class="btn btn-secondary">
            <i class="bi bi-funnel"/> 
        </button>
        <button class="btn btn-primary">
            <i class="bi bi-search"/>
        </button>
    </div>

    <div class="table-responsive">
        <table class="table hover">
            <thead>
                <tr>
                    <th scope="col">idRilevamenti</th>
                    <th scope="col">idSensoriInstallati</th>
                    <th scope="col">DataOra</th>
                    <th scope="col">Dato</th>
                    <th scope="col">Gestisci</th>
                </tr>
            </thead>
            <tbody>
            
            @foreach (Repository.Models.Rilevamento ril in R.OttieneRilevamenti()) {
                <tr class="@(_confirmDelete.Contains(ril.idRilevamenti) ? "deleting-row":"")">
                    <td> @ril.idRilevamenti </td>
                    <td> @ril.idSensoriInstallati </td>
                    <td> @ril.DataOra </td>
                    <td> @ril.Dato </td>
                    <td>
                        <NavLink href="@String.Concat("/rilevamenti/dettagli/",@ril.idRilevamenti)">
                            <button class="btn btn-primary">
                                Dettagli
                            </button>
                        </NavLink>
                        
                        @* <NavLink href="@String.Concat("/rilevamenti/elimina/",@ril.idRilevamenti)"> *@
                        <button id="@ril.idRilevamenti" class="btn btn-danger" @onclick="@(() => {DeleteRecord(ril.idRilevamenti); })">
                            <i class="bi bi-trash"></i>
                        </button>
                        @* </NavLink> *@
                    </td>
                </tr>
            }

            <tr>
                <td>
                    <input type="text"/>
                </td>
                <td>
                    <input type="text"/>
                </td>
                <td>
                    <input type="text"/>
                </td>
                <td>
                    <input type="text"/>
                </td>
                <td>
                    <button class="btn btn-success">
                        <NavLink>
                            Crea
                        </NavLink>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

@inject RilevamentoDB R
@inject SensoriInstallatiDB SI

@inject IJSRuntime jsRuntime
@inject NavigationManager NM;

@code {
    [Parameter, SupplyParameterFromQuery]
    public int p { get; set; }


    private string Url(params string[] s)
    {
        string outp = "/";
        foreach (var m in s)
            outp += m + "/";

        return outp;
    }

    private List<int> _confirmDelete = new List<int>();

    void DeleteRecord(int id)
    {
        if (_confirmDelete.Contains(id))
        {
            R.EliminaRilevamento(id);
            _confirmDelete.Remove(id);
        }
        else
            _confirmDelete.Add(id);

    }

    protected override void OnParametersSet()
    {
        if (p < 1)
            p = 1;
    }

    


}
