@* 
// Andrea Maria Castronovo
// 5°I
// 22-05-2024
// Progetto stazione meteo
*@

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        @* <FocusOnNavigate RouteData="@routeData" Selector="h1" />*@
    </Found>
    <NotFound>
        <PageTitle>Pagina non trovata</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Errore 404: Non ho trovato nulla a questo indirizzo.</p>
        </LayoutView>
    </NotFound>
</Router>
