@* 
// Andrea Maria Castronovo
// 5°I
// 29-04-202
// Progetto stazione meteo
*@

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Errore 404: Non ho trovato nulla a questo indirizzo.</p>
        </LayoutView>
    </NotFound>
</Router>
